# Imports

In [2]:
import numpy as np
import sklearn
import pandas as pd

from sklearn.model_selection import train_test_split

# Dataset 1: RN Dataset

In [3]:
data = pd.read_csv("../data/3_datasets_new/1_RN_data.csv")
data

     a/c  a/t  c/b      phi      F       Mg
0    0.2  0.2  0.2  0.00000  0.617  1.37284
1    0.2  0.2  0.2  0.19635  0.650  1.22969
2    0.2  0.2  0.2  0.39270  0.754  1.15093
3    0.2  0.2  0.2  0.58905  0.882  1.15248
4    0.2  0.2  0.2  0.78540  0.990  1.16007
..   ...  ...  ...      ...    ...      ...
539  2.0  0.8  0.2  2.35619  0.661  0.72869
540  2.0  0.8  0.2  2.55254  0.717  0.75062
541  2.0  0.8  0.2  2.74889  0.775  0.78207
542  2.0  0.8  0.2  2.94524  0.839  0.82836
543  2.0  0.8  0.2  3.14159  0.876  0.85865

[544 rows x 6 columns]

In [6]:
train, test = train_test_split(data, test_size=0.25, shuffle=True)
train.shape, test.shape

((408, 6), (136, 6))

In [7]:
train

     a/c  a/t  c/b      phi      F       Mg
171  0.4  0.2  0.2  0.19635  0.781  1.17406
39   0.2  0.4  0.4  0.98175  1.243  1.30320
387  1.0  0.6  0.4  2.55254  1.272  1.19587
138  0.2  0.8  0.6  0.39270  1.595  1.99562
87   0.2  0.6  0.6  0.39270  1.214  1.60756
..   ...  ...  ...      ...    ...      ...
496  2.0  0.4  0.2  0.58905  0.708  0.74870
325  1.0  0.4  0.2  0.39270  1.157  1.14556
266  0.6  0.4  0.2  2.15984  1.093  1.14340
80   0.2  0.6  0.4  2.35619  1.425  1.57765
393  1.0  0.6  0.6  0.39270  1.487  1.28361

[408 rows x 6 columns]

In [8]:
test

     a/c  a/t  c/b      phi      F       Mg
107  0.2  0.8  0.2  0.98175  1.759  1.88249
108  0.2  0.8  0.2  1.17810  1.824  1.85689
219  0.4  0.6  0.2  2.94524  1.075  1.59995
343  1.0  0.4  0.4  0.58905  1.174  1.12733
195  0.4  0.4  0.2  1.57080  1.225  1.21289
..   ...  ...  ...      ...    ...      ...
460  1.0  0.8  0.8  0.19635  2.334  1.53425
222  0.4  0.8  0.2  0.19635  1.285  1.90286
439  1.0  0.8  0.4  2.74889  1.395  1.28325
384  1.0  0.6  0.4  1.96350  1.165  1.09528
4    0.2  0.2  0.2  0.78540  0.990  1.16007

[136 rows x 6 columns]

In [9]:
train.to_csv('../data/3_datasets_new/1_RN_data_TRAIN.csv', encoding='utf-8', index=False)
test.to_csv('../data/3_datasets_new/1_RN_data_TEST.csv', encoding='utf-8', index=False)

train.to_csv('../data/3_datasets_new/1_RN_data_TRAIN_idx.csv', encoding='utf-8', index=True)
test.to_csv('../data/3_datasets_new/1_RN_data_TEST_idx.csv', encoding='utf-8', index=True)

# Dataset 2: RN Equations Dataset

In [10]:
data = pd.read_csv("../data/3_datasets_new/2_RN_eqn.csv")
data

         a/c  a/t   c/b      phi        F       Mg
0        0.2  0.2  0.01  3.10125  0.58795  1.30215
1        0.2  0.2  0.01  3.05397  0.60190  1.29028
2        0.2  0.2  0.01  2.97940  0.64280  1.27288
3        0.2  0.2  0.01  2.88035  0.71125  1.25233
4        0.2  0.2  0.01  2.78970  0.77442  1.23612
...      ...  ...   ...      ...      ...      ...
142391   2.0  0.8  0.20  0.04617  0.88371  0.86655
142392   2.0  0.8  0.20  0.03804  0.88626  0.86895
142393   2.0  0.8  0.20  0.02976  0.88887  0.87141
142394   2.0  0.8  0.20  0.02114  0.89158  0.87399
142395   2.0  0.8  0.20  0.01135  0.89466  0.87696

[142396 rows x 6 columns]

In [14]:
train, test = train_test_split(data, test_size=0.25, shuffle=True)
train.shape, test.shape

((106797, 6), (35599, 6))

In [15]:
train

         a/c  a/t   c/b      phi        F       Mg
73419   1.00  0.7  0.05  2.40050  1.14650  1.14526
133112  1.90  0.6  0.01  2.80053  0.78341  0.80007
41195   0.65  0.8  0.30  2.15906  1.29342  1.29751
8185    0.25  0.5  0.20  1.49409  1.44553  1.42963
87494   1.20  0.6  0.10  2.49842  0.97789  1.00304
...      ...  ...   ...      ...      ...      ...
90584   1.20  0.8  0.10  0.80875  0.96680  1.00486
110844  1.50  0.8  0.01  1.30442  0.71272  0.85492
83189   1.10  0.8  0.10  2.36069  1.05396  1.07260
116401  1.60  0.7  0.05  0.98995  0.71963  0.82583
2892    0.20  0.6  0.10  1.99515  1.57692  1.64241

[106797 rows x 6 columns]

In [16]:
test

         a/c  a/t   c/b      phi        F       Mg
92795    1.3  0.4  0.10  1.47134  0.80521  0.91427
4462     0.2  0.7  0.20  3.04741  1.04590  2.19022
74657    1.0  0.8  0.01  2.85496  1.31332  1.31326
42590    0.7  0.4  0.01  3.03270  1.06838  1.27304
97908    1.3  0.8  0.15  2.56657  0.96548  0.98595
...      ...  ...   ...      ...      ...      ...
91342    1.3  0.2  0.01  3.08725  0.99632  0.99661
97927    1.3  0.8  0.15  2.38957  0.91949  0.95860
46124    0.7  0.6  0.15  2.91859  1.16308  1.36155
107219   1.5  0.5  0.01  2.88476  0.91306  0.92140
94596    1.3  0.6  0.05  1.42886  0.81419  0.92428

[35599 rows x 6 columns]

In [17]:
train.to_csv('../data/3_datasets_new/train/2_RN_eqn_TRAIN.csv', encoding='utf-8', index=False)
test.to_csv('../data/3_datasets_new/test/2_RN_eqn_TEST.csv', encoding='utf-8', index=False)

train.to_csv('../data/3_datasets_new/train/2_RN_eqn_TRAIN_idx.csv', encoding='utf-8', index=True)
test.to_csv('../data/3_datasets_new/test/2_RN_eqn_TEST_idx.csv', encoding='utf-8', index=True)

# Dataset 3a: Franc3D FULL

In [18]:
data = pd.read_csv("../data/3_datasets_new/3_FRANC3D_FULL.csv")

train, test = train_test_split(data, test_size=0.25, shuffle=True)

print(train.shape, test.shape)

train.to_csv('../data/3_datasets_new/train/3_FRANC3D_FULL_TRAIN.csv', encoding='utf-8', index=False)
test.to_csv('../data/3_datasets_new/test/3_FRANC3D_FULL_TEST.csv', encoding='utf-8', index=False)

train.to_csv('../data/3_datasets_new/train/3_FRANC3D_FULL_TRAIN_idx.csv', encoding='utf-8', index=True)
test.to_csv('../data/3_datasets_new/test/3_FRANC3D_FULL_TEST_idx.csv', encoding='utf-8', index=True)

(106797, 6) (35599, 6)

# Dataset 3b: Franc3D PHI_SAMPLED

In [19]:
data = pd.read_csv("../data/3_datasets_new/3_FRANC3D_PHI_SAMPLE.csv")

train, test = train_test_split(data, test_size=0.25, shuffle=True)

print(train.shape, test.shape)

train.to_csv('../data/3_datasets_new/train/3_FRANC3D_PHI_SAMPLE_TRAIN.csv', encoding='utf-8', index=False)
test.to_csv('../data/3_datasets_new/test/3_FRANC3D_PHI_SAMPLE_TEST.csv', encoding='utf-8', index=False)

train.to_csv('../data/3_datasets_new/train/3_FRANC3D_PHI_SAMPLE_TRAIN_idx.csv', encoding='utf-8', index=True)
test.to_csv('../data/3_datasets_new/test/3_FRANC3D_PHI_SAMPLE_TEST_idx.csv', encoding='utf-8', index=True)

(14190, 6) (4731, 6)